.resume-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.pdf-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  text-decoration: none;
  user-select: contain;
  z-index: 20;
}
.pdf-link:hover .view {
  color: blue;
}
.pdf {
  height: 30px;
  margin: 0 5px 5px 0;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vw auto 5vw auto;
}
.resume {
  width: 80vw;
  box-shadow: 0.3vw 0.2vw 0.3vw rgba(180, 180, 180, 0.5),
    0.3vw 0.4vw 0.3vw rgba(210, 210, 210, 0.5),
    0.3vw 0.6vw 0.3vw rgba(210, 210, 210, 0.5);
}
