.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  user-select: none;
  margin-top: 20px;
}
.section-divider {
  height: auto;
  min-width: 50px;
  max-width: 30vw;
  max-height: 50px;
}
#section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  padding: 15px 0;
  white-space: normal;
  box-shadow: 0px 7px 10px -10px rgba(0, 0, 0, 0.5);
}
.profile-figure {
  text-align: center;
  width: 250px;
  margin: 0;
}
.about-summary {
  position: relative;
  font-size: 1.25rem;
  line-height: 1.3;
  background: mediumseagreen;
  color: white;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 15px;
  width: 270px;
}
.speech-arrow {
  border-right: 21px solid transparent;
  border-top: 20px solid rgba(0, 0, 0, 0.2);
  bottom: -25px;
  position: absolute;
}
.speech-arrow::before {
  border-right: 27px solid transparent;
  border-top: 23px solid rgb(180, 180, 180);
  bottom: 2px;
  content: "";
  position: absolute;
  left: 2px;
}
.speech-arrow::after {
  border-right: 21px solid transparent;
  border-top: 21px solid mediumseagreen;
  bottom: 4px;
  content: "";
  position: absolute;
  left: 0;
}
.profile {
  height: 200px;
  border-radius: 50%;
}
.dev-name {
  font-size: 2rem;
  font-weight: 600;
}
.job-title {
  font-size: 1.25rem;
  font-weight: 200;
  margin: 1rem 0;
}
.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.skills-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgba(0, 162, 255, 0.08);
}
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.skills-header {
  font-size: 1.5rem;
  font-weight: 200;
  padding: 0 0.5rem;
}
.figure-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  font-weight: 200;
  font-size: 0.8rem;
  width: 100%;
}
.figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 29vw;
  max-width: 113px;
  height: 75px;
  margin: 0 1.5vw;
}
.title-icon {
  margin: 0 0.25rem;
  transition: 0.2s;
}
.linkedin:hover {
  fill: #0077b5;
}
.github:hover {
  fill: #bd2c00;
}
.agile {
  padding-bottom: 5px;
}
#section-two {
  display: flex;
  flex-direction: column;
  text-align: center;
}
h1.section-two-header {
  font-size: 36px;
  font-weight: 600;
  margin: 15px 0 1vw 0;
}
.static-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}
.static-container {
  margin: 3vw 0px 1.5vw 0;
  pointer-events: none;
}
.static-holder {
  display: flex;
  flex-direction: column;
}
.static-overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0;
  z-index: 4;
  overflow-x: hidden;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
}
.static-link {
  width: 35%;
  background: white;
  color: black;
  font-size: 2.8vw;
  text-decoration: none;
  margin: 2.5vw 0;
  border-radius: 2vw;
  padding: 1.5vw 0;
  box-shadow: 0 0.25vw 0.5vw 0 rgba(0, 0, 0, 0.5);
  pointer-events: all;
}
.static-deployment {
  transform: translateX(-200%);
  transition: transform 0.3s ease, background-color 0.2s, color 0.2s;
  -webkit-transition: transform 0.3s ease, background-color 0.2s, color 0.2s;
  -moz-transition: transform 0.3s ease, background-color 0.2s, color 0.2s;
}
.static-repository {
  transform: translateX(200%);
  transition: transform 0.3s ease, background-color 0.2s, color 0.2s;
  -webkit-transition: transform 0.3s ease, background-color 0.2s, color 0.2s;
  -moz-transition: transform 0.3s ease, background-color 0.2s, color 0.2s;
}
.static-link a {
  text-decoration: none;
}
.static-header {
  user-select: none;
}
.static {
  height: 60vw;
  z-index: 2;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  pointer-events: all;
}
@media (hover: hover) {
  .static-container:hover .static {
    opacity: 0.3;
  }
  .static-container:hover .static-overlay {
    opacity: 1;
  }
  .static-container:hover .static-deployment,
  .static-container:hover .static-repository {
    transform: translateX(0);
  }
  .static-link:hover {
    background: rgb(0, 0, 75);
    color: white;
  }
}
@media only screen and (max-width: 768px) {
  .speech-arrow {
    right: 30px;
  }
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-container {
    border-top-right-radius: 25px;
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 2px 1px rgba(0, 0, 0, 0.4),
      0px 2px 1px rgba(0, 0, 0, 0.5), 0px 3px 1px rgba(0, 0, 0, 0.4);
  }
  .figure-container {
    max-width: 664px;
    font-size: 0.75rem;
  }
  .static-overlay {
    top: 64.7vw;
    height: 60vw;
    margin-top: -64.7vw;
  }
  .static-container {
    margin: 6vw 0;
  }
  .static-header {
    font-size: 27px;
  }
  .static-link {
    border-radius: 30px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1199px) {
  .about-section {
    display: flex;
    flex-direction: row-reverse;
  }
  .about-summary {
    bottom: 125px;
  }
  .speech-arrow {
    left: 10px;
  }
  .profile-figure {
    margin-top: 100px;
  }
  .skills-container {
    max-width: 955px;
  }
  .figure {
    width: 94px;
    margin: 0 2.222vw;
  }
  .static-overlay {
    top: 32.2vw;
    height: 29vw;
    margin-top: -32.2vw;
  }
  .static-header {
    font-size: 27px;
    margin: 0;
  }
  .static-link {
    width: 38%;
    font-size: 1.5vw;
    margin: 1.5vw 0;
    padding: 0.7vw 0;
  }
  .static {
    height: 29vw;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .about-section {
    display: flex;
    flex-direction: row-reverse;
  }
  .about-summary {
    font-size: 1.5rem;
    width: 550px;
  }
  .about-summary {
    bottom: 135px;
  }
  .speech-arrow {
    left: 10px;
  }
  .profile-figure {
    margin-top: 75px;
  }
  .skills-container {
    max-width: 1200px;
  }
  .figure-container {
    display: flex;
    flex-wrap: nowrap;
  }
  h1.section-two-header {
    margin: 15px 0 2vw 0;
  }
  .static-container {
    margin: 0 0 30px 0;
  }
  .static-overlay {
    top: 17vw;
    height: 15.25vw;
    margin-top: -17vw;
  }
  .static-header {
    font-size: 27px;
  }
  .static {
    height: 15.25vw;
    margin: 1px 0 50px 0;
  }
  .static-link {
    width: 180px;
    font-size: 16px;
    margin: 0.75vw 0;
    padding: 0.5vw 0;
  }
}
