.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#section-one,
#section-two,
#section-three,
#section-four {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section-one {
  margin-bottom: -44px;
}
.about-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  white-space: normal;
  color: white;
}
.about-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(0, 26, 98) 0%, rgb(0, 5, 36) 90%);
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 4;
}
.portfolio-logo {
  margin: 0px 0 15px 0;
  padding-top: 20px;
  height: 64px;
  min-height: 64px;
}
.profile-figure {
  text-align: center;
  margin: 15px;
}
div.caption.job-title {
  margin: 0;
}
.about-summary {
  position: relative;
  font-size: 1.25rem;
  line-height: 1.3;
  border: 3px solid goldenrod;
  color: rgb(255, 200, 50);
  border-radius: 10px;
  margin-bottom: 0px;
  padding: 12px;
  width: 80%;
  max-width: 330px;
}
.speech-arrow {
  border-right: 21px solid transparent;
  border-top: 20px solid transparent;
  bottom: -25px;
  right: 30px;
  position: absolute;
}
.speech-arrow::before {
  border-right: 27px solid transparent;
  border-top: 23px solid transparent;
  bottom: 2px;
  content: "";
  position: absolute;
  left: 2px;
}
.speech-arrow::after {
  border-right: 21px solid transparent;
  border-top: 21px solid goldenrod;
  bottom: 4px;
  content: "";
  position: absolute;
  left: 0;
}
.profile {
  height: 200px;
  border-radius: 50%;
}
.dev-name {
  font-size: 2rem;
  font-weight: 600;
}
.job-title {
  font-size: 1.25rem;
  font-weight: 200;
  margin: 1rem 0;
}
.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100px;
}
.view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: white;
  pointer-events: none;
}
.view-more {
  width: 45px;
  height: 45px;
  min-height: 45px;
  margin: 20px 0 0 0;
  border: 2px solid goldenrod;
  border-radius: 50%;
  font-size: 2rem;
  color: goldenrod;
  overflow: hidden;
  pointer-events: all;
}
.down-arrow {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}
a.view-container span {
  margin-bottom: 50px;
  padding-top: 10px;
  pointer-events: all;
  font-size: 0.9rem;
}
.skill-divider {
  z-index: 2;
}
.skills-wrapper {
  display: flex;
  width: 100vw;
  background: white;
}
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.figure-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  font-weight: 200;
  font-size: 0.8rem;
  width: 100%;
}
.figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 29vw;
  min-width: 0px;
  max-width: 113px;
  height: 75px;
  margin: 0 1.5vw;
}
.title-icon {
  margin: 0 0.25rem;
  transition: 0.2s;
}
.agile {
  padding-bottom: 5px;
}
#section-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: whitesmoke;
  min-height: 100vh;
}
.section-divider {
  height: auto;
  min-width: 50px;
  max-width: 30vw;
  max-height: 50px;
}
h1.section-two-header {
  font-size: 36px;
  font-weight: 400;
  margin: 15px 0 1vw 0;
}
.static-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 17%;
}
.static-container {
  margin: 3vw 0px 1.5vw 0;
  pointer-events: none;
}
.static-holder {
  display: flex;
  flex-direction: column;
}
.static-overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0;
  z-index: 2;
  overflow-x: hidden;
  transition: opacity 0.2s;
}
.static-link {
  width: 35%;
  background: white;
  color: black;
  font-size: 2.8vw;
  text-decoration: none;
  margin: 2.5vw 0;
  border-radius: 2vw;
  padding: 1.5vw 0;
  box-shadow: 0 0.25vw 0.5vw 0 rgba(0, 0, 0, 0.5);
  pointer-events: all;
}
.static-deployment {
  transform: translateX(-200%);
  transition: transform 0.3s ease, background-color 0.2s ease, color 0.2s ease;
}
.static-repository {
  transform: translateX(200%);
  transition: transform 0.3s ease, background-color 0.2s ease, color 0.2s ease;
}
.static-link a {
  text-decoration: none;
}
.static-header {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.static {
  height: 60vw;
  transition: opacity 0.3s;
  pointer-events: all;
}
#section-three {
  min-height: 100vh;
  background: linear-gradient(rgb(0, 5, 36) 0%, rgb(0, 26, 98) 80%);
  overflow-y: hidden;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 30px 0 0 0;
}
.icon-container {
  margin-bottom: 0px;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.25rem;
  width: 300px;
  margin: 30px auto;
  text-decoration: none;
}
.resume-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.25rem;
  width: 300px;
  margin: 30px auto;
  text-decoration: none;
}
.email {
  height: 30px;
  margin: 0 10px;
}
.resume-pdf {
  height: 30px;
  margin: 0 10px;
}
.technologies {
  background: rgb(0, 0, 75);
  color: white;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  transform: translateY(-200%);
  transition: transform 0.3s ease;
}
@media (hover: hover) {
  a.view-container:hover div.down-arrow {
    transform: translateY(0);
  }
  a.view-container:hover .underline {
    width: 100%;
    transition: 0.2s ease;
  }
  a.view-container:hover span {
    color: goldenrod;
  }
  a.contact-container:hover span {
    color: goldenrod;
  }
  a.contact-container:hover .underline {
    width: 100%;
    transition: 0.2s ease;
  }
  a.resume-container:hover span {
    color: goldenrod;
  }
  a.resume-container:hover .underline {
    width: 100%;
    transition: 0.2s ease;
  }
  .static-container:hover .static {
    opacity: 0.3;
  }
  .static-container:hover .static-overlay {
    opacity: 1;
  }
  .static-container:hover .static-deployment,
  .static-container:hover .static-repository {
    transform: translateX(0);
  }
  .static-container:hover .technologies {
    transform: translateY(0);
  }
  .static-link:hover {
    background: rgb(0, 0, 75);
    color: white;
  }
  .linkedin:hover {
    fill: goldenrod;
  }
  .github:hover {
    fill: goldenrod;
  }
}
@media only screen and (max-width: 768px) {
  .speech-arrow {
    right: 30px;
  }
  .figure-container {
    max-width: 664px;
    font-size: 0.75rem;
  }
  .static-overlay {
    top: 64.7vw;
    height: 60vw;
    margin-top: -64.7vw;
  }
  .static-container {
    margin: 6vw 0;
  }
  .static-header {
    font-size: 27px;
  }
  .static-link {
    border-radius: 30px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1199px) {
  .figure-container {
    max-width: 955px;
  }
  .figure {
    width: 94px;
    margin: 0 2.222vw;
  }
  .static-overlay {
    height: 220px;
    max-height: 220px;
    margin: 0 0 -263px 0;
  }
  .static-header {
    font-size: 27px;
    margin: 20px 0 0 0;
  }
  .static-link {
    width: 150px;
    font-size: 0.8rem;
    margin: 10px 0;
    padding: 10px 0;
  }
  .static-wrapper {
    width: 769px;
    height: 529px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .static {
    height: 220px;
    max-height: 220px;
    margin: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .figure-container {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1200px;
  }
  .static-overlay {
    height: 300px;
    max-height: 300px;
    margin: 0 0 -350px 0;
  }
  .static-header {
    font-size: 27px;
    margin: 20px 0 0 0;
  }
  .static-link {
    width: 150px;
    font-size: 0.8rem;
    margin: 10px 0;
    padding: 10px 0;
  }
  .static-wrapper {
    width: 1000px;
    height: 529px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .static {
    height: 300px;
    max-height: 300px;
    margin: 0;
  }
}
