.projectContainer, .calendarContainer, .giphyContainer, .simonContainer, .mockContainer, .storyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendarContainer, .giphyContainer, .simonContainer, .mockContainer, .storyContainer {
    margin: 2vw auto;
}

.calendar {
    width: 50%;
}