.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vw;
}
.headshot {
  width: 300px;
  border-radius: 50%;
}
.title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.5rem;
  margin: 2rem 0;
}
