.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}
.arrow-left,
.arrow-right {
  position: fixed;
  width: 10%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.1);
}
.arrow-left {
  top: 12%;
  left: 0;
}
.arrow-right {
  top: 12%;
  right: 0;
}
.arrow-left:hover,
.arrow-right:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}
.container {
  min-width: 80%;
  height: 100%;
  margin: 3% 10%;
  padding: 0;
}
