.carousel-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.carousel {
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;
}
.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}
.slide-contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  white-space: normal;
}
.image-container {
  width: 80%;
  height: 100%;
  margin: 0;
  white-space: normal;
}
.image {
  width: 100%;
  height: 450px;
}
.description {
  margin-top: 5px;
  font-size: 1rem;
}
.name {
  font-size: 3rem;
  font-weight: 200;
  margin: 0;
}
.technologies-container,
.description {
  text-align: left;
  white-space: normal;
}
.title {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 0;
}
.details {
  font-size: 1rem;
  font-weight: 100;
}
.project-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.project-link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
.project-link:hover {
  color: blue;
}
.arrow {
  height: 80px;
  min-width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.back,
.next,
.back-hover,
.next-hover {
  position: fixed;
  transition: 0.3s ease;
  font-size: 3rem;
  user-select: none;
}
.back-hover,
.next-hover {
  opacity: 0;
}
.internet {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}
@media (hover: hover) {
  .arrow:hover .back {
    padding-left: 35px;
    opacity: 0.3;
  }
  .arrow:hover .next {
    padding-right: 35px;
    opacity: 0.3;
  }
  .arrow:hover .back-hover {
    padding-right: 35px;
    opacity: 1;
  }
  .arrow:hover .next-hover {
    padding-left: 35px;
    opacity: 1;
  }
}
/* @media only screen and (max-width: 320px) {
  .carousel-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem -2%;
  }
  .carousel-wrapper {
    width: 100%;
    user-select: none;
  }
  .slide {
    display: inline-block;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    padding-bottom: 10%;
    white-space: normal;
  }
  .name {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .description {
    font-size: 0.9rem;
    font-weight: 200;
    width: 300px;
  }
  .image {
    height: 53vw;
  }
  .title {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .details {
    font-size: 0.9rem;
  }
  .arrow {
    height: 50px;
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 20;
  }
  .back-arrow {
    position: fixed;
    top: 50%;
    left: -70px;
    color: black;
  }
  .next-arrow {
    position: fixed;
    top: 50%;
    right: -70px;
    color: black;
  }
} */
@media only screen and (max-width: 568px) {
  .carousel-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem -2%;
  }
  .carousel-wrapper {
    width: 100%;
    user-select: none;
  }
  .slide {
    display: inline-block;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    padding-bottom: 10%;
    white-space: normal;
  }
  .name {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .description {
    font-size: 0.9rem;
    font-weight: 200;
  }
  .image {
    min-width: 300px;
    height: 50vw;
  }
  .title {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .details {
    font-size: 0.9rem;
  }
  .arrow {
    height: 50px;
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 20;
  }
  .back-arrow {
    position: fixed;
    top: 50%;
    left: -70px;
    color: black;
  }
  .next-arrow {
    position: fixed;
    top: 50%;
    right: -70px;
    color: black;
  }
}
@media only screen and (max-width: 768px) {
  .carousel-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem -2%;
  }
  .carousel-wrapper {
    width: 100%;
    user-select: none;
  }
  .slide {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    padding-bottom: 10%;
    white-space: normal;
  }
  .name {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .description {
    font-size: 0.9rem;
    font-weight: 200;
  }
  .image {
    width: 100%;
    height: 53vw;
  }
  .title {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .details {
    font-size: 0.9rem;
  }
  .arrow {
    height: 50px;
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 20;
  }
  .back-arrow {
    position: fixed;
    top: 50%;
    left: -70px;
    color: black;
  }
  .next-arrow {
    position: fixed;
    top: 50%;
    right: -70px;
    color: black;
  }
}
@media only screen and (min-width: 769px) {
  .carousel-container {
    display: flex;
    flex-direction: column;
    min-width: 750px;
    max-width: 750px;
    margin: 2rem -2%;
  }
  .carousel-wrapper {
    width: 100%;
    user-select: none;
  }
  .slide {
    display: inline-block;
    width: 100%;
    min-height: 600px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    padding-bottom: 10%;
  }
  .image {
    width: 700px;
    height: 400px;
  }
  .arrow {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 20;
  }
  .back-arrow {
    position: fixed;
    left: 0;
    top: 50%;
    color: black;
  }
  .next-arrow {
    position: fixed;
    top: 50%;
    right: 0;
    color: black;
  }
}
