.carousel-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.carousel {
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;
}
.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}
.slide-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.image {
  width: 40%;
}
.project-details {
  width: 40%;
}
.name {
  font-size: 3rem;
  font-weight: 200;
}
.technologies-container,
.description-container {
  text-align: left;
  white-space: normal;
}
.title {
  font-size: 1.5rem;
  font-weight: 100;
}
.details {
  font-size: 1rem;
  font-weight: 100;
}
.project-link-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 10px;
}
.project-link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
.project-link:hover {
  color: blue;
}
.arrow {
  height: 80px;
  min-width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.back,
.next,
.back-hover,
.next-hover {
  position: fixed;
  transition: 0.3s ease;
  font-size: 3rem;
  user-select: none;
}
.back-hover,
.next-hover {
  opacity: 0;
}
@media (hover: hover) {
  .arrow:hover .back {
    padding-left: 35px;
    opacity: 0.3;
  }
  .arrow:hover .next {
    padding-right: 35px;
    opacity: 0.3;
  }
  .arrow:hover .back-hover {
    padding-right: 35px;
    opacity: 1;
  }
  .arrow:hover .next-hover {
    padding-left: 35px;
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  .carousel-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem -2%;
  }
  .carousel-wrapper {
    width: 100%;
    user-select: none;
  }
  .slide {
    display: inline-block;
    width: 100%;
    min-height: 500px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    padding-bottom: 10%;
  }
  .arrow-container {
    display: flex;
    justify-content: center;
  }
  .arrow {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 20;
  }
  .back-arrow {
    position: fixed;
    left: 0;
    color: black;
  }
  .next-arrow {
    position: fixed;
    right: 0;
    color: black;
  }
}
/* @media only screen and (min-width: 769px) and (max-width: 992px) {
  .carousel-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2rem -2%;
  }
  .carousel-wrapper {
    width: 100%;
    user-select: none;
  }
  .slide {
    display: inline-block;
    width: 100%;
    min-height: 500px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    padding-bottom: 10%;
  }
  .arrow {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 20;
  }
  .back-arrow {
    position: fixed;
    left: 0;
    color: black;
  }
  .next-arrow {
    position: fixed;
    right: 0;
    color: black;
  }
} */
@media only screen and (min-width: 769px) {
  .carousel-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 2rem -2%;
  }
  .carousel-wrapper {
    width: 100%;
    user-select: none;
  }
  .slide {
    display: inline-block;
    width: 100%;
    min-height: 600px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    padding-bottom: 10%;
  }
  .arrow {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 20;
  }
  .back-arrow {
    position: fixed;
    left: 0;
    color: black;
  }
  .next-arrow {
    position: fixed;
    right: 0;
    color: black;
  }
}
