@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap");
body {
  box-sizing: border-box;
  /* background-color: rgb(240, 240, 240); */
  width: 100%;
  overflow-x: hidden;
}

.link {
  color: black;
}
